.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section:not(:last-child) {
  margin-bottom: 50px;
}

.section h2 {
  margin-bottom: 20px;
}

.filterLabel {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 15px;
}
.labelInput {
  margin-top: 5px;
  height: 20px;
  font-size: 16px;
}

.contactsList {
  list-style: none;
  width: 100%;
}

.contactsListItem {
  width: 200px;
  /* height: 40px; */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.contactsListIcon {
  fill: black;
  width: 50px;
}

.contactsListContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  /* height: 100%; */
}
.contactsListContainer:not(:last-child) {
  margin-bottom: 10px;
}

.contactsListButton {
  /* width: 40px; */
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 16px;
}

.contactsListButton:hover {
  background-color: rgba(0, 255, 255, 0.26);
}
.contactsListButton:active {
  background-color: aqua;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}
